

@media (min-width: 768px) {

  #habilidades .containerr .div-card {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }

  #habilidades .containerr .div-card-item {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    background-position: center;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
  }

  #habilidades .containerr .div-card span {
    position: relative;
    display: table;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
  }

}


@media (min-width: 992px) {

  #habilidades .skill-cards-containerr {
    padding: 10px 0px;
    display: flex;
    gap: 40px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }


}

@media (min-width: 1200px) {

  #habilidades .containerr .div-card {
    margin-left: 20px;
    margin-right: 20px;
  }


}
